# State of Data 2021

### Diferenças de gênero na área de Ciência de Dados

- Notebook para filtrar/tratar o dataset

In [203]:
import pandas as pd

In [204]:
# Sugestão de colunas para manter no dataset e posteriormente
# limpar dados faltantes, e quem sabe até dropar outras colunas
lista_colunas = [
 "('P0', 'id')",
 "('P1_a ', 'Idade')",
 "('P1_a_a ', 'Faixa idade')",
 "('P1_b ', 'Genero')",
 "('P1_e ', 'Estado onde mora')",
 "('P1_e_a ', 'uf onde mora')",
 "('P1_e_b ', 'Regiao onde mora')",
 "('P1_g_b ', 'Regiao de origem')",
 "('P1_g_c ', 'Mudou de Estado?')",
 "('P1_h ', 'Nivel de Ensino')",
 "('P1_i ', 'Área de Formação')",
 "('P2_a ', 'Qual sua situação atual de trabalho?')",
 "('P2_b ', 'Setor')",
 "('P2_c ', 'Numero de Funcionarios')",
 "('P2_d ', 'Gestor?')",
 "('P2_e ', 'Cargo como Gestor')",
 "('P2_f ', 'Cargo Atual')",
 "('P2_g ', 'Nivel')",
 "('P2_h ', 'Faixa salarial')",
 "('P2_i ', 'Quanto tempo de experiência na área de dados você tem?')",
 "('P2_j ', 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?')",
 "('P2_k ', 'Você está satisfeito na sua empresa atual?')",
 "('P2_l ', 'Qual o principal motivo da sua insatisfação com a empresa atual?')",
 "('P2_l_a ', 'Falta de oportunidade de crescimento no emprego atual')",
 "('P2_l_b ', 'Salário atual não corresponde ao mercado')",
 "('P2_l_c ', 'Não tenho uma boa relação com meu líder/gestor')",
 "('P2_l_d ', 'Gostaria de trabalhar em em outra área de atuação')",
 "('P2_l_e ', 'Gostaria de receber mais benefícios')",
 "('P2_l_f ', 'O clima de trabalho/ambiente não é bom')",
 "('P2_l_g ', 'Falta de maturidade analítica na empresa')",
 "('P2_m ', 'Você participou de entrevistas de emprego nos últimos 6 meses?')",
 "('P2_n ', 'Você pretende mudar de emprego nos próximos 6 meses?')",
 "('P2_o ', 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?')",
 "('P2_o_a ', 'Remuneração/Salário')",
 "('P2_o_b ', 'Benefícios')",
 "('P2_o_c ', 'Propósito do trabalho e da empresa')",
 "('P2_o_d ', 'Flexibilidade de trabalho remoto')",
 "('P2_o_e ', 'Ambiente e clima de trabalho')",
 "('P2_o_f ', 'Oportunidade de aprendizado e trabalhar com referências na área')",
 "('P2_o_g ', 'Plano de carreira e oportunidades de crescimento profissional')",
 "('P2_o_h ', 'Maturidade da empresa em termos de tecnologia e dados')",
 "('P2_o_i ', 'Qualidade dos gestores e líderes')",
 "('P2_o_j ', 'Reputação que a empresa tem no mercado')",
 "('P2_q ', 'Atualmente qual a sua forma de trabalho?')",
 "('P2_r ', 'Qual a forma de trabalho ideal para você?')",
 "('P2_s ', 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?')",
 "('P5_b ', 'Qual oportunidade você está buscando?')",
 "('P5_c ', 'Há quanto tempo você busca uma oportunidade na área de dados?')",
 "('P5_d ', 'Como tem sido a busca por um emprego na área de dados?')"]

In [205]:
df = pd.read_csv('State_of_Data_2021-Dataset.csv', usecols=lista_colunas)

print(df.shape)
df.head()

(2645, 49)

,"('P0', 'id')","('P1_a ', 'Idade')","('P1_a_a ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_e ', 'Estado onde mora')","('P1_e_a ', 'uf onde mora')","('P1_e_b ', 'Regiao onde mora')","('P1_g_b ', 'Regiao de origem')","('P1_g_c ', 'Mudou de Estado?')","('P1_h ', 'Nivel de Ensino')",...,"('P2_o_g ', 'Plano de carreira e oportunidades de crescimento profissional')","('P2_o_h ', 'Maturidade da empresa em termos de tecnologia e dados')","('P2_o_i ', 'Qualidade dos gestores e líderes')","('P2_o_j ', 'Reputação que a empresa tem no mercado')","('P2_q ', 'Atualmente qual a sua forma de trabalho?')","('P2_r ', 'Qual a forma de trabalho ideal para você?')","('P2_s ', 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?')","('P5_b ', 'Qual oportunidade você está buscando?')","('P5_c ', 'Há quanto tempo você busca uma oportunidade na área de dados?')","('P5_d ', 'Como tem sido a busca por um emprego na área de dados?')"
0,qkx4q0ei90wcjxnqkx4q0j3xgf0zn13s,38.0,35-39,Masculino,Ceará (CE),CE,Nordeste,NaN,0,Pós-graduação,...,0.0,0.0,0.0,0.0,Modelo 100% presencial,Modelo híbrido com dias fixos de trabalho pres...,Vou aceitar e retornar ao modelo 100% presencial.,NaN,NaN,NaN
1,zdl2n19yhgpnoaco6kkczdl2nwv9zwrt,39.0,35-39,Masculino,Bahia (BA),BA,Nordeste,Sudeste,1,Pós-graduação,...,0.0,0.0,0.0,0.0,Modelo híbrido flexível (o funcionário tem lib...,Modelo 100% remoto,Vou procurar outra oportunidade no modelo 100%...,NaN,NaN,NaN
2,vsamqp2un3q7us84mgvsams5fulsmcoh,30.0,30-34,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,...,0.0,0.0,0.0,0.0,Modelo 100% presencial,Modelo 100% remoto,Vou procurar outra oportunidade no modelo híbr...,NaN,NaN,NaN
3,v31ab41botodnsv31zgg4k34zzojy81l,38.0,35-39,Feminino,São Paulo (SP),SP,Sudeste,NaN,0,Pós-graduação,...,0.0,0.0,0.0,0.0,Modelo 100% presencial,Modelo híbrido com dias fixos de trabalho pres...,Vou procurar outra oportunidade no modelo híbr...,NaN,NaN,NaN
4,ubhu8ntvm4xc0sfkdubhu80e973eek0k,36.0,35-39,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,...,0.0,1.0,0.0,0.0,Modelo 100% presencial,Modelo 100% remoto,Vou procurar outra oportunidade no modelo 100%...,NaN,NaN,NaN

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2645 entries, 0 to 2644
Data columns (total 49 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   ('P0', 'id')                                                                                                                            2645 non-null   object
 1   ('P1_a ', 'Idade')                                                                                                                      2617 non-null   float64
 2   ('P1_a_a ', 'Faixa idade')                                                                                                              2645 non-null   object
 3   ('P1_b ', 'Genero')                                                                                                                     2645 non-null   object
 4   ('P1_e ', 'Estado onde mora')                                                                                                           2609 non-null   object
 5   ('P1_e_a ', 'uf onde mora')                                                                                                             2609 non-null   object
 6   ('P1_e_b ', 'Regiao onde mora')                                                                                                         2645 non-null   object
 7   ('P1_g_b ', 'Regiao de origem')                                                                                                         484 non-null    object
 8   ('P1_g_c ', 'Mudou de Estado?')                                                                                                         2645 non-null   int64
 9   ('P1_h ', 'Nivel de Ensino')                                                                                                            2645 non-null   object
 10  ('P1_i ', 'Área de Formação')                                                                                                           2581 non-null   object
 11  ('P2_a ', 'Qual sua situação atual de trabalho?')                                                                                       2645 non-null   object
 12  ('P2_b ', 'Setor')                                                                                                                      2365 non-null   object
 13  ('P2_c ', 'Numero de Funcionarios')                                                                                                     2365 non-null   object
 14  ('P2_d ', 'Gestor?')                                                                                                                    2365 non-null   float64
 15  ('P2_e ', 'Cargo como Gestor')                                                                                                          508 non-null    object
 16  ('P2_f ', 'Cargo Atual')                                                                                                                1857 non-null   object
 17  ('P2_g ', 'Nivel')                                                                                                                      1857 non-null   object
 18  ('P2_h ', 'Faixa salarial')                                                                                                             2365 non-null   object
 19  ('P2_i ', 'Quanto tempo de experiência na área de dados você tem?')                                                                     2365 non-null   object
 20  ('P2_j ', 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?')  2365 non-null   object
 21  ('P2_k ', 'Você está satisfeito na sua empresa atual?')                                                                                 2362 non-null   float64
 22  ('P2_l ', 'Qual o principal motivo da sua insatisfação com a empresa atual?')                                                           612 non-null    object
 23  ('P2_l_a ', 'Falta de oportunidade de crescimento no emprego atual')                                                                    612 non-null    float64
 24  ('P2_l_b ', 'Salário atual não corresponde ao mercado')                                                                                 612 non-null    float64
 25  ('P2_l_c ', 'Não tenho uma boa relação com meu líder/gestor')                                                                           612 non-null    float64
 26  ('P2_l_d ', 'Gostaria de trabalhar em em outra área de atuação')                                                                        612 non-null    float64
 27  ('P2_l_e ', 'Gostaria de receber mais benefícios')                                                                                      612 non-null    float64
 28  ('P2_l_f ', 'O clima de trabalho/ambiente não é bom')                                                                                   612 non-null    float64
 29  ('P2_l_g ', 'Falta de maturidade analítica na empresa')                                                                                 612 non-null    float64
 30  ('P2_m ', 'Você participou de entrevistas de emprego nos últimos 6 meses?')                                                             2362 non-null   object
 31  ('P2_n ', 'Você pretende mudar de emprego nos próximos 6 meses?')                                                                       2365 non-null   object
 32  ('P2_o ', 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?')                          2351 non-null   object
 33  ('P2_o_a ', 'Remuneração/Salário')                                                                                                      2360 non-null   float64
 34  ('P2_o_b ', 'Benefícios')                                                                                                               2360 non-null   float64
 35  ('P2_o_c ', 'Propósito do trabalho e da empresa')                                                                                       2360 non-null   float64
 36  ('P2_o_d ', 'Flexibilidade de trabalho remoto')                                                                                         2360 non-null   float64
 37  ('P2_o_e ', 'Ambiente e clima de trabalho')                                                                                             2360 non-null   float64
 38  ('P2_o_f ', 'Oportunidade de aprendizado e trabalhar com referências na área')                                                          2360 non-null   float64
 39  ('P2_o_g ', 'Plano de carreira e oportunidades de crescimento profissional')                                                            2360 non-null   float64
 40  ('P2_o_h ', 'Maturidade da empresa em termos de tecnologia e dados')                                                                    2360 non-null   float64
 41  ('P2_o_i ', 'Qualidade dos gestores e líderes')                                                                                         2360 non-null   float64
 42  ('P2_o_j ', 'Reputação que a empresa tem no mercado')                                                                                   2360 non-null   float64
 43  ('P2_q ', 'Atualmente qual a sua forma de trabalho?')                                                                                   2365 non-null   object
 44  ('P2_r ', 'Qual a forma de trabalho ideal para você?')                                                                                  2365 non-null   object
 45  ('P2_s ', 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?')                                                 2365 non-null   object
 46  ('P5_b ', 'Qual oportunidade você está buscando?')                                                                                      157 non-null    object
 47  ('P5_c ', 'Há quanto tempo você busca uma oportunidade na área de dados?')                                                              161 non-null    object
 48  ('P5_d ', 'Como tem sido a busca por um emprego na área de dados?')                                                                     159 non-null    object
dtypes: float64(20), int64(1), object(28)
memory usage: 1012.7+ KB

In [207]:
# Reformatação dos nomes das colunas para melhor visualização e utilização
colunas_nome = [
 'id',
 'Idade',
 'Faixa idade',
 'Genero',
 'Estado onde mora',
 'Uf onde mora',
 'Regiao onde mora',
 'Regiao de origem',
 'Mudou de Estado?',
 'Nivel de Ensino',
 'Área de Formação',
 'Qual sua situação atual de trabalho?',
 'Setor',
 'Numero de Funcionarios',
 'Gestor?',
 'Cargo como Gestor',
 'Cargo Atual',
 'Nivel',
 'Faixa salarial',
 'Quanto tempo de experiência na área de dados você tem?',
 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?',
 'Você está satisfeito na sua empresa atual?',
 'Qual o principal motivo da sua insatisfação com a empresa atual?',
 'Falta de oportunidade de crescimento no emprego atual',
 'Salário atual não corresponde ao mercado',
 'Não tenho uma boa relação com meu líder/gestor',
 'Gostaria de trabalhar em em outra área de atuação',
 'Gostaria de receber mais benefícios',
 'O clima de trabalho/ambiente não é bom',
 'Falta de maturidade analítica na empresa',
 'Você participou de entrevistas de emprego nos últimos 6 meses?',
 'Você pretende mudar de emprego nos próximos 6 meses?',
 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?',
 'Remuneração/Salário',
 'Benefícios',
 'Propósito do trabalho e da empresa',
 'Flexibilidade de trabalho remoto',
 'Ambiente e clima de trabalho',
 'Oportunidade de aprendizado e trabalhar com referências na área',
 'Plano de carreira e oportunidades de crescimento profissional',
 'Maturidade da empresa em termos de tecnologia e dados',
 'Qualidade dos gestores e líderes',
 'Reputação que a empresa tem no mercado',
 'Atualmente qual a sua forma de trabalho?',
 'Qual a forma de trabalho ideal para você?',
 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?',
 'Qual oportunidade você está buscando?',
 'Há quanto tempo você busca uma oportunidade na área de dados?',
 'Como tem sido a busca por um emprego na área de dados?']

In [208]:
df.columns = colunas_nome
df.columns.to_list()

['id',
 'Idade',
 'Faixa idade',
 'Genero',
 'Estado onde mora',
 'Uf onde mora',
 'Regiao onde mora',
 'Regiao de origem',
 'Mudou de Estado?',
 'Nivel de Ensino',
 'Área de Formação',
 'Qual sua situação atual de trabalho?',
 'Setor',
 'Numero de Funcionarios',
 'Gestor?',
 'Cargo como Gestor',
 'Cargo Atual',
 'Nivel',
 'Faixa salarial',
 'Quanto tempo de experiência na área de dados você tem?',
 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?',
 'Você está satisfeito na sua empresa atual?',
 'Qual o principal motivo da sua insatisfação com a empresa atual?',
 'Falta de oportunidade de crescimento no emprego atual',
 'Salário atual não corresponde ao mercado',
 'Não tenho uma boa relação com meu líder/gestor',
 'Gostaria de trabalhar em em outra área de atuação',
 'Gostaria de receber mais benefícios',
 'O clima de trabalho/ambiente não é bom',
 'Falta de maturidade analítica na empresa',
 'Você participou de entrevistas de emprego nos últimos 6 meses?',
 'Você pretende mudar de emprego nos próximos 6 meses?',
 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?',
 'Remuneração/Salário',
 'Benefícios',
 'Propósito do trabalho e da empresa',
 'Flexibilidade de trabalho remoto',
 'Ambiente e clima de trabalho',
 'Oportunidade de aprendizado e trabalhar com referências na área',
 'Plano de carreira e oportunidades de crescimento profissional',
 'Maturidade da empresa em termos de tecnologia e dados',
 'Qualidade dos gestores e líderes',
 'Reputação que a empresa tem no mercado',
 'Atualmente qual a sua forma de trabalho?',
 'Qual a forma de trabalho ideal para você?',
 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?',
 'Qual oportunidade você está buscando?',
 'Há quanto tempo você busca uma oportunidade na área de dados?',
 'Como tem sido a busca por um emprego na área de dados?']

### Limpando o dataset

##### Verificando colunas com maior quantidade de valores nulos

In [209]:
df.isnull().sum().sort_values(ascending=False).to_dict()

{'Qual oportunidade você está buscando?': 2488,
 'Como tem sido a busca por um emprego na área de dados?': 2486,
 'Há quanto tempo você busca uma oportunidade na área de dados?': 2484,
 'Regiao de origem': 2161,
 'Cargo como Gestor': 2137,
 'Falta de maturidade analítica na empresa': 2033,
 'O clima de trabalho/ambiente não é bom': 2033,
 'Gostaria de receber mais benefícios': 2033,
 'Gostaria de trabalhar em em outra área de atuação': 2033,
 'Não tenho uma boa relação com meu líder/gestor': 2033,
 'Falta de oportunidade de crescimento no emprego atual': 2033,
 'Qual o principal motivo da sua insatisfação com a empresa atual?': 2033,
 'Salário atual não corresponde ao mercado': 2033,
 'Cargo Atual': 788,
 'Nivel': 788,
 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?': 294,
 'Qualidade dos gestores e líderes': 285,
 'Plano de carreira e oportunidades de crescimento profissional': 285,
 'Benefícios': 285,
 'Propósito do trabalho e da empresa': 285,
 'Flexibilidade de trabalho remoto': 285,
 'Ambiente e clima de trabalho': 285,
 'Oportunidade de aprendizado e trabalhar com referências na área': 285,
 'Remuneração/Salário': 285,
 'Maturidade da empresa em termos de tecnologia e dados': 285,
 'Reputação que a empresa tem no mercado': 285,
 'Você está satisfeito na sua empresa atual?': 283,
 'Você participou de entrevistas de emprego nos últimos 6 meses?': 283,
 'Atualmente qual a sua forma de trabalho?': 280,
 'Qual a forma de trabalho ideal para você?': 280,
 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?': 280,
 'Numero de Funcionarios': 280,
 'Você pretende mudar de emprego nos próximos 6 meses?': 280,
 'Gestor?': 280,
 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?': 280,
 'Quanto tempo de experiência na área de dados você tem?': 280,
 'Faixa salarial': 280,
 'Setor': 280,
 'Área de Formação': 64,
 'Estado onde mora': 36,
 'Uf onde mora': 36,
 'Idade': 28,
 'Regiao onde mora': 0,
 'Mudou de Estado?': 0,
 'Nivel de Ensino': 0,
 'Qual sua situação atual de trabalho?': 0,
 'Genero': 0,
 'Faixa idade': 0,
 'id': 0}

##### Removendo colunas com mais de 90% de valores nulos

In [210]:
df_limpo = df.drop(columns=['Qual oportunidade você está buscando?',
                            'Como tem sido a busca por um emprego na área de dados?',
                            'Há quanto tempo você busca uma oportunidade na área de dados?'])

df_limpo.shape

(2645, 46)

In [211]:
df_limpo.isnull().sum().sort_values(ascending=False).head(10)

Regiao de origem                                                    2161
Cargo como Gestor                                                   2137
Falta de oportunidade de crescimento no emprego atual               2033
O clima de trabalho/ambiente não é bom                              2033
Gostaria de trabalhar em em outra área de atuação                   2033
Não tenho uma boa relação com meu líder/gestor                      2033
Salário atual não corresponde ao mercado                            2033
Falta de maturidade analítica na empresa                            2033
Qual o principal motivo da sua insatisfação com a empresa atual?    2033
Gostaria de receber mais benefícios                                 2033
dtype: int64

##### Tratando: Região de Origem

In [212]:
print(df_limpo['Mudou de Estado?'].value_counts())
df_limpo['Regiao de origem'].isnull().sum()

0    2161
1     484
Name: Mudou de Estado?, dtype: int64

2161

Na coluna 'Regiao de origem', a quantidade de dados nulos é a mesma da quantidade de pessoas que não mudaram de estado. Por isso, assumimos que a região de origem nesse caso é a mesma onde mora.

In [213]:
df_limpo['Regiao onde mora'].unique()

array(['Nordeste', 'Sul', 'Sudeste', 'Centro-oeste', 'Norte', 'Exterior'],
      dtype=object)

Preenchendo os dados faltantes com as informações da coluna anterior, 'Regiao onde mora'.

In [214]:
df_limpo['Regiao de origem'].fillna(method='bfill', inplace=True)
print(df_limpo['Regiao de origem'].unique())
df_limpo['Regiao de origem'].isnull().sum()

['Sudeste' 'Sul' 'Norte' 'Nordeste' 'Centro-oeste' nan]

3

- 3 valores não foram preenchidos

In [215]:
df_limpo[df_limpo['Regiao de origem'].isnull()]

,id,Idade,Faixa idade,Genero,Estado onde mora,Uf onde mora,Regiao onde mora,Regiao de origem,Mudou de Estado?,Nivel de Ensino,...,Flexibilidade de trabalho remoto,Ambiente e clima de trabalho,Oportunidade de aprendizado e trabalhar com referências na área,Plano de carreira e oportunidades de crescimento profissional,Maturidade da empresa em termos de tecnologia e dados,Qualidade dos gestores e líderes,Reputação que a empresa tem no mercado,Atualmente qual a sua forma de trabalho?,Qual a forma de trabalho ideal para você?,Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?
2642,01fncs8qbhl9zx01fncs8rqib2zl3d18,24.0,22-24,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Graduação/Bacharelado,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Modelo 100% remoto,Modelo 100% remoto,Vou procurar outra oportunidade no modelo 100%...
2643,075h3v2z19if04yn7o075h3vhifl38rw,38.0,35-39,Masculino,Rio de Janeiro (RJ),RJ,Sudeste,NaN,0,Graduação/Bacharelado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2644,037usz1h2yip96dgil4mhj037uszw1gk,27.0,25-29,Feminino,Minas Gerais (MG),MG,Sudeste,NaN,0,Pós-graduação,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
# Tratamento manual dos 'nan' não corrigidos pelo método .fillna(), de acordo com 'Região onde mora'
df_limpo.loc[2642,['Regiao de origem']] = 'Sul'
df_limpo.loc[2643,['Regiao de origem']] = 'Sudeste'
df_limpo.loc[2644,['Regiao de origem']] = 'Sudeste'
df_limpo.loc[2642:2644,['Regiao de origem']]

     Regiao de origem
2642              Sul
2643          Sudeste
2644          Sudeste

In [217]:
df_limpo.isnull().sum().sort_values(ascending=False).head()

Cargo como Gestor                                        2137
Falta de oportunidade de crescimento no emprego atual    2033
Gostaria de receber mais benefícios                      2033
Não tenho uma boa relação com meu líder/gestor           2033
Salário atual não corresponde ao mercado                 2033
dtype: int64

##### Cargo como gestor.

In [218]:
print(df_limpo['Gestor?'].value_counts())
df_limpo['Cargo como Gestor'].value_counts().sum()

0.0    1857
1.0     508
Name: Gestor?, dtype: int64

508

Nessa coluna, percebemos que os valores preenchidos são iguais aos valores de pessoas que se identificaram como gestoras.

A escolha do grupo foi aplicar 'NdA' como padrão para os nulos, já que os valores são strings.

In [219]:
df_limpo['Cargo como Gestor'].unique()

array(['Supervisor/Coordenador',
       'Sócio ou C-level (CEO, CDO, CIO, CTO etc)',
       'Gerente/Head/Diretor/VP', 'Team Leader/Tech Leader', nan],
      dtype=object)

In [220]:
df_limpo['Cargo como Gestor'] = df_limpo['Cargo como Gestor'].fillna('NdA')
print(df_limpo['Cargo como Gestor'].unique())
df_limpo['Cargo como Gestor'].isnull().sum()

['Supervisor/Coordenador' 'Sócio ou C-level (CEO, CDO, CIO, CTO etc)'
 'Gerente/Head/Diretor/VP' 'Team Leader/Tech Leader' 'NdA']

0

In [222]:
df_limpo.isnull().sum().sort_values(ascending=False).head(10)

Falta de oportunidade de crescimento no emprego atual               2033
Gostaria de trabalhar em em outra área de atuação                   2033
Salário atual não corresponde ao mercado                            2033
Gostaria de receber mais benefícios                                 2033
Qual o principal motivo da sua insatisfação com a empresa atual?    2033
O clima de trabalho/ambiente não é bom                              2033
Falta de maturidade analítica na empresa                            2033
Não tenho uma boa relação com meu líder/gestor                      2033
Nivel                                                                788
Cargo Atual                                                          788
dtype: int64

##### Tratando a coluna 'Qual o principal motivo da sua insatisfação com a empresa atual?'

In [223]:
print(df_limpo['Você está satisfeito na sua empresa atual?'].value_counts())
df_limpo['Qual o principal motivo da sua insatisfação com a empresa atual?'].value_counts().sum()

1.0    1750
0.0     612
Name: Você está satisfeito na sua empresa atual?, dtype: int64

612

A quantidade de respostas preenchidas é a mesma de pessoas que afirmaram estarem insatisfeitas.
Por se tratar de uma coluna de valores do tipo string, substituímos por 'NdA'

In [224]:
df_limpo['Qual o principal motivo da sua insatisfação com a empresa atual?'].fillna('NdA', inplace=True)
df_limpo['Qual o principal motivo da sua insatisfação com a empresa atual?'].isnull().sum()

0

In [226]:
df_limpo.isnull().sum().sort_values(ascending=False).head(10)

Falta de oportunidade de crescimento no emprego atual                                                2033
Não tenho uma boa relação com meu líder/gestor                                                       2033
Gostaria de trabalhar em em outra área de atuação                                                    2033
Gostaria de receber mais benefícios                                                                  2033
O clima de trabalho/ambiente não é bom                                                               2033
Falta de maturidade analítica na empresa                                                             2033
Salário atual não corresponde ao mercado                                                             2033
Cargo Atual                                                                                           788
Nivel                                                                                                 788
Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?     294
dtype: int64

##### Tratando valores nulos em questões de múltipla escolha
Para as questões do motivo de insatisfação com o trabalho/empresa só se aplicam aos que afirmaram estar insatisfeitos com o mesmo. Portanto, escolhemos assumir os valores faltantes como -1.0, os quais seriam os satisfeitos onde a pergunta não se aplicaria.

Para as questões de motivos de consideração para escolher um emprego, decidimos por preencher os valores faltantes com 0.0, onde aquele motivo não se aplicaria para aquele respondente.

In [227]:
df_limpo['Falta de oportunidade de crescimento no emprego atual'].unique()

array([nan,  0.,  1.])

In [228]:

questao1 = ['Qual o principal motivo da sua insatisfação com a empresa atual?',
 'Falta de oportunidade de crescimento no emprego atual',
 'Salário atual não corresponde ao mercado',
 'Não tenho uma boa relação com meu líder/gestor',
 'Gostaria de trabalhar em em outra área de atuação',
 'Gostaria de receber mais benefícios',
 'O clima de trabalho/ambiente não é bom',
 'Falta de maturidade analítica na empresa']

questao2 = ['Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?',
 'Remuneração/Salário',
 'Benefícios',
 'Propósito do trabalho e da empresa',
 'Flexibilidade de trabalho remoto',
 'Ambiente e clima de trabalho',
 'Oportunidade de aprendizado e trabalhar com referências na área',
 'Plano de carreira e oportunidades de crescimento profissional',
 'Maturidade da empresa em termos de tecnologia e dados',
 'Qualidade dos gestores e líderes',
 'Reputação que a empresa tem no mercado']

df_limpo[questao1[1:]] = df_limpo[questao1[1:]].fillna(-1.0)
df_limpo[questao2[1:]] = df_limpo[questao2[1:]].fillna(0.0)

In [229]:
df_limpo['Falta de oportunidade de crescimento no emprego atual'].unique()

array([-1.,  0.,  1.])

In [232]:
df_limpo.isnull().sum().sort_values(ascending=False).head(25).to_dict()

{'Nivel': 788,
 'Cargo Atual': 788,
 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?': 294,
 'Você está satisfeito na sua empresa atual?': 283,
 'Você participou de entrevistas de emprego nos últimos 6 meses?': 283,
 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?': 280,
 'Setor': 280,
 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?': 280,
 'Quanto tempo de experiência na área de dados você tem?': 280,
 'Faixa salarial': 280,
 'Gestor?': 280,
 'Numero de Funcionarios': 280,
 'Você pretende mudar de emprego nos próximos 6 meses?': 280,
 'Atualmente qual a sua forma de trabalho?': 280,
 'Qual a forma de trabalho ideal para você?': 280,
 'Área de Formação': 64,
 'Uf onde mora': 36,
 'Estado onde mora': 36,
 'Idade': 28,
 'Regiao de origem': 3,
 'Flexibilidade de trabalho remoto': 0,
 'Remuneração/Salário': 0,
 'Benefícios': 0,
 'Propósito do trabalho e da empresa': 0,
 'Plano de carreira e oportunidades de crescimento profissional': 0}

#### Colunas relacionadas ao emprego atual.

Nível e Cargo Atual são strings, portanto substituímos por 'NdA'.

In [233]:
print(df_limpo['Nivel'].unique())
df_limpo['Cargo Atual'].unique()

[nan 'Sênior' 'Pleno' 'Júnior']

array([nan, 'Engenheiro de Dados/Data Engineer',
       'Cientista de Dados/Data Scientist', 'Técnico',
       'Analista de BI/BI Analyst/Analytics Engineer',
       'Analista de Negócios/Business Analyst', 'Analista de Marketing',
       'Analista de Dados/Data Analyst',
       'Desenvolvedor ou Engenheiro de Software',
       'Analista Administrativo',
       'Engenheiro de Machine Learning/ML Engineer',
       'Outras Engenharias (não inclui dev)',
       'DBA/Administrador de Banco de Dados', 'Outro', 'Professor',
       'Estatístico', 'Analista de Sistemas/Analista de TI',
       'Analista de Inteligência de Mercado/Market Intelligence',
       'Arquiteto de Dados', 'Suporte Técnico', 'Arquiteto de dados',
       'Product Manager'], dtype=object)

In [234]:
df_limpo['Nivel'] = df_limpo['Nivel'].fillna('NdA')
df_limpo['Cargo Atual'] = df_limpo['Cargo Atual'].fillna('NdA')
print(df_limpo['Nivel'].unique())
df_limpo['Cargo Atual'].isnull().sum()

['NdA' 'Sênior' 'Pleno' 'Júnior']

0

In [235]:
df_limpo.isnull().sum().sort_values(ascending=False).head(20).to_dict()

{'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?': 294,
 'Você participou de entrevistas de emprego nos últimos 6 meses?': 283,
 'Você está satisfeito na sua empresa atual?': 283,
 'Setor': 280,
 'Você pretende mudar de emprego nos próximos 6 meses?': 280,
 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?': 280,
 'Quanto tempo de experiência na área de dados você tem?': 280,
 'Faixa salarial': 280,
 'Numero de Funcionarios': 280,
 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?': 280,
 'Gestor?': 280,
 'Atualmente qual a sua forma de trabalho?': 280,
 'Qual a forma de trabalho ideal para você?': 280,
 'Área de Formação': 64,
 'Uf onde mora': 36,
 'Estado onde mora': 36,
 'Idade': 28,
 'Regiao de origem': 3,
 'Falta de maturidade analítica na empresa': 0,
 'Oportunidade de aprendizado e trabalhar com referências na área': 0}

- Tratamento da coluna 'Área de formação' utilizando informação da coluna 'Nível de Ensino'

In [239]:
print(df_limpo['Área de Formação'].isnull().sum())
df_limpo['Nivel de Ensino'].value_counts()

64

Graduação/Bacharelado         909
Pós-graduação                 823
Estudante de Graduação        389
Mestrado                      344
Doutorado ou Phd              116
Não tenho graduação formal     61
Prefiro não informar            3
Name: Nivel de Ensino, dtype: int64

- Dados faltantes em área de formação relacionados as categorias de 'Não tenho graduação formal' e 'Prefiro não informar'. Optamos por preencher os 'nan' com 'NdA'

In [242]:
df_limpo['Área de Formação'] = df_limpo['Área de Formação'].fillna('NdA')
df_limpo['Área de Formação'].isnull().sum()

0

In [243]:
print(df_limpo['Regiao onde mora'].value_counts())
df_limpo.loc[pd.isna(df_limpo['Estado onde mora']), ['Estado onde mora', 'Regiao onde mora']]

Sudeste         1671
Sul              400
Nordeste         301
Centro-oeste     184
Exterior          53
Norte             36
Name: Regiao onde mora, dtype: int64

     Estado onde mora Regiao onde mora
32                NaN            Norte
67                NaN            Norte
144               NaN            Norte
284               NaN            Norte
314               NaN            Norte
374               NaN            Norte
606               NaN            Norte
728               NaN            Norte
910               NaN            Norte
1030              NaN            Norte
1032              NaN            Norte
1098              NaN            Norte
1170              NaN            Norte
1173              NaN            Norte
1188              NaN            Norte
1362              NaN            Norte
1402              NaN            Norte
1534              NaN            Norte
1579              NaN            Norte
1676              NaN            Norte
1725              NaN            Norte
1743              NaN            Norte
1845              NaN            Norte
1847              NaN            Norte
1862              NaN            Norte
1883              NaN            Norte
1907              NaN            Norte
2105              NaN            Norte
2122              NaN            Norte
2305              NaN            Norte
2494              NaN            Norte
2508              NaN            Norte
2510              NaN            Norte
2522              NaN            Norte
2546              NaN            Norte
2638              NaN            Norte

- Como todos os estados da região Norte se encontram como 'nan', resolvemos excluir as colunas de estados do dataset e trabalhar somente com as regiões

In [244]:
df_limpo.drop(columns=['Uf onde mora',
                       'Estado onde mora'],
              inplace=True)
df_limpo.shape

(2645, 44)

In [245]:
media = df_limpo['Idade'].mean()
mediana = df_limpo['Idade'].median()
moda = df_limpo['Idade'].mode()

print(media, mediana)
print(moda)

31.15705005731754 30.0
0    26.0
1    28.0
Name: Idade, dtype: float64

- Para treinar o preenchimento dos valores faltantes com métodos/valores diferentes, optamos por preencher os poucos valores de idade faltante com a mediana, supondo que estatisticamente esta mudança teria menos impacto nas possíveis análises futuras que a utilização da moda.

In [246]:
df_limpo['Idade'] = df_limpo['Idade'].fillna(df_limpo['Idade'].median())
df_limpo['Idade'].isnull().sum()

0

In [251]:
df_limpo.isnull().sum().sort_values(ascending=False).head(15).to_dict()

{'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?': 294,
 'Você participou de entrevistas de emprego nos últimos 6 meses?': 283,
 'Você está satisfeito na sua empresa atual?': 283,
 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?': 280,
 'Setor': 280,
 'Você pretende mudar de emprego nos próximos 6 meses?': 280,
 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?': 280,
 'Quanto tempo de experiência na área de dados você tem?': 280,
 'Faixa salarial': 280,
 'Numero de Funcionarios': 280,
 'Gestor?': 280,
 'Atualmente qual a sua forma de trabalho?': 280,
 'Qual a forma de trabalho ideal para você?': 280,
 'Ambiente e clima de trabalho': 0,
 'O clima de trabalho/ambiente não é bom': 0}

- Relacionando valores faltantes de informações de cargo e situação atual de emprego.

In [252]:
colunas_teste = ['Numero de Funcionarios', 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?', 'Quanto tempo de experiência na área de dados você tem?', 'Faixa salarial', 'Gestor?', 'Atualmente qual a sua forma de trabalho?', 'Qual sua situação atual de trabalho?']
df_teste = df_limpo.loc[pd.isna(df_limpo['Atualmente qual a sua forma de trabalho?']), colunas_teste]
df_teste

,Numero de Funcionarios,Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?,Quanto tempo de experiência na área de dados você tem?,Faixa salarial,Gestor?,Atualmente qual a sua forma de trabalho?,Qual sua situação atual de trabalho?
1396,NaN,NaN,NaN,NaN,NaN,NaN,Trabalho na área Acadêmica/Pesquisador
1399,NaN,NaN,NaN,NaN,NaN,NaN,Somente Estudante (graduação)
1400,NaN,NaN,NaN,NaN,NaN,NaN,"Desempregado, buscando recolocação"
1403,NaN,NaN,NaN,NaN,NaN,NaN,"Desempregado, buscando recolocação"
1408,NaN,NaN,NaN,NaN,NaN,NaN,Trabalho na área Acadêmica/Pesquisador
...,...,...,...,...,...,...,...
2630,NaN,NaN,NaN,NaN,NaN,NaN,Trabalho na área Acadêmica/Pesquisador
2631,NaN,NaN,NaN,NaN,NaN,NaN,Somente Estudante (graduação)
2640,NaN,NaN,NaN,NaN,NaN,NaN,Trabalho na área Acadêmica/Pesquisador
2643,NaN,NaN,NaN,NaN,NaN,NaN,"Desempregado, buscando recolocação"
2644,NaN,NaN,NaN,NaN,NaN,NaN,"Desempregado, buscando recolocação"

In [253]:
df_teste['Qual sua situação atual de trabalho?'].unique()

array(['Trabalho na área Acadêmica/Pesquisador',
       'Somente Estudante (graduação)',
       'Desempregado, buscando recolocação',
       'Somente Estudante (pós-graduação)',
       'Desempregado e não estou buscando recolocação'], dtype=object)

- Podemos constatar que os dados faltantes com relação às colunas relacionadas a emprego se devem ao fato destes respondentes pertencerem a categorias de estudante, trabalha em área acadêmica ou desempregado. Para não excluirmos muitos desses dados do dataset e possivelmente enviesar alguma análise futura, decidimos por manter os 'nan', que automaticamente serão excluídos das análises quando e se tais colunas sejam utilizadas.

In [254]:
#Precisa ser última célula do notebook
# Rodar de novo se fizer qualquer alteração nesse notebook

df_limpo.to_csv('state_of_data_tradado.csv', index=False)